body,tr{
font-style:oblique;
font-variant:small-caps;
}
.box{
width:100%;
height;50%;
margin:100px 10px 10px 10px;
border:6px black;
border-style:dashed;
background-color:rgba(255,255,255,.65);
font-size:25;
font-family:cursive;
}
body {
	font-family: 'Poppins', sans-serif;
	color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
   }
  .nav-area li {
	display: inline-block;

   }
   .nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
	
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	font-family: poppins;
	font-size: 20px;
	text-transform: uppercase;
}

.txt3</a>
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.txt3 h1 {
		font-size: 30px;
	}
	.txt3 h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.txt3 h1 span {
	color: #00fecb;
}